<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="public/css/style.css">
  <link rel="stylesheet" type="text/css" href="public/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="public/css/icofont.min.css">
  <title>Home</title>
</head>
<body>
  <header>
    <div class="text-center" id="header">
      <h1>Desenvolvimento de Aplicações Web - 1</h1>
      <p class="h1-desc">Primeira atividade avaliativa.</p>
    </div>
  </header>

<!-- Navbar -->
  <div id="navbar">
    <a href="/"><i class="icofont-home" style="font-size: 1.5rem;"></i></a>
    <a href="/eu">Eu</a>
    <a href="/aluno">Aluno</a>
    <a href="/duvida">Dúvida</a>
  </div>

  <!-- /Navbar -->

  <div id="main" class="container">
    <div class="text-center">
      <h1>O que são aplicações web?</h1>
      <p class="h1-desc">Breve resumo sobre o que são aplicações web.</p>
    </div>
    <div class="text-justify">
      <p>
        Os apps web são sistemas que rodam na internet. São como sistemas tradicionais que recebem uma entrada, 
        processam informação e emitem uma saída. Contudo, eles são rodados e interpretados por um navegador. 
        Por conta disso, envolvem um paradigma totalmente distinto de aplicações comuns. Esses softwares também 
        são ecossistemas diferentes dos websites, uma vez que são mais completos e apresentam um dinamismo maior.
      </p>
      <p>
        Se um site comum é mais voltado para dispor informações na tela, um web app consiste em interações 
        constantes entre o usuário e o próprio sistema. A partir de um protocolo chamado HTTP, uma pessoa
        consegue se comunicar com uma máquina que fornece informações para acesso.
      </p>
      <p>
        Para entender melhor as aplicações que rodam na internet, temos que ir mais a fundo no funcionamento 
        da rede. Existem dois lados que conversam entre si: servidor e cliente. O lado servidor oferece 
        arquivos e fornece a aplicação hospedada. Sua função principal é escutar requisições. Ao passo que o 
        lado cliente envia requisições e recebe arquivos para baixar, o que o permite utilizar o sistema.
      </p>
      <p>
        Em termos de desenvolvimento, os sistemas web envolvem três frentes: o front-end, o back-end e banco 
        de dados. O front-end é responsável pela apresentação ao usuário. Ele lida com linguagens como HTML, 
        CSS e JavaScript a fim de organizar a estrutura dos sites, a relação entre as páginas, bem como 
        interações com o cliente. O front-end cuida também do design e da experiência do usuário.
      </p>
      <p>
        O back-end, por sua vez, gerencia a parte do servidor, cuidando de questões mais técnicas e profundas, 
        relacionadas com a lógica de interação entre a apresentação e o banco de dados, bem como respostas a 
        requisições do usuário. Uma linguagem comum para desenvolvimento dessa parte é o PHP.
      </p>
      <p>
        Por fim, temos o banco de dados. Essa parte está relacionada com as informações utilizadas pelos 
        sistemas a fim de executar sua tarefa principal. O banco cuida das relações entre tabelas e a 
        modelagem do mundo real para garantir que a aplicação consiga administrar esses dados de forma 
        organizada. Uma linguagem popular para esse gerenciamento é o MySQL.
      </p>
    </div>
    <div class="row mb-3 text-center">
      <div class="col-sm-8 offset-sm-2 footer-img">
        <p>
          Para acessar a fonte desse conteúdo completo, clique <a href="https://tegra.com.br/aplicacoes-web/" target="_blank">aqui</a>.
        </p>
      </div>
    </div>
  </div>


  <footer class="text-center pt-3 pb-3" id="footer">
    <p>Gustavo William de Bessa</p>
    <p id="dataHoje"></p>
  </footer>
  <script src="public/javascript/script.js"></script>
</body>
</html>